* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background-color: #1b1b32
}

p{
  color: yellow;
}

/*//////////////////////////////////////////////////////////////////////////////
/////////////////////////// TITLE CSS //////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////*/

.title {
  font-size: 35px;
  text-align: center;
  margin: 20px 0;
}

/*//////////////////////////////////////////////////////////////////////////////
/////////////////////// INSTRUCTIONS SECTION ///////////////////////////////////
//////////////////////////////////////////////////////////////////////////////*/

.instructions-section{
    width: 50%;
    display: inline-table;
  }

.instructions-button{
  text-align: center;
}

#instructions{
  font-size: 20px;
  color: white;
  margin: 0 15px;

}

/*//////////////////////////////////////////////////////////////////////////////
////////////////////////// SUBMIT SECTION //////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////*/

.submit-section {
  position: fixed;
  display: inline-table;
  width: 50%;
  text-align: center;

}

#input{
    width: 80%;
    display: inline-table;
}

#output{
  font-size: 30px;
}

/*//////////////////////////////////////////////////////////////////////////////
////////////////////////// HOVER //////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////*/

.btn.btn-danger:hover {
    transform: scale(1.2);
}

#submit:hover {
  background-color: black;
  transform: scale(1.1);
}

/*//////////////////////////////////////////////////////////////////////////////
/////////////////////////// MEDIA QUERY ////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////*/

@media only screen and (max-width: 900px){

  .submit-section {
    position: relative;
    display: block;
    padding: 40px 0;
  }

  .test{
    width: 100%;
  }

  #input{
    width: 70%;
  }

  .instructions-section {
    width: 100%;
  }

  #output {
    margin-top: 30px;
}
}




@media only screen and (min-width: 900px){

  .submit-section {
    margin-top: 130px;
  }
}
